.square{
    width: 30%;
    
    background-color: aquamarine;
    margin: 10px;
    float: left;
    padding-bottom: 30%;
    margin: 1.66%;
}

body{
    background-color: #232323;
}

#container{
    max-width: 600px;
    margin: 0 auto;
}

h1{
    color: white;
}

span{
    color:white;    
}